

<div class="container">
  <ul class="company_list">
    <li class="company_info">
      <p class="company_info_title">会社名</p>
      <p class="company_info_content">株式会社Easy</p>
    </li>
    <li class="company_info">
      <p class="company_info_title">所在地</p>
      <p class="company_info_content">東京都板橋区赤塚新町1-16-2</p>
    </li>
    <li class="company_info">
      <p class="company_info_title">代表取締役</p>
      <p class="company_info_content">圃田洋貴</p>
    </li>
    <li class="company_info">
      <p class="company_info_title">事業内容</p>
      <div class="company_info_content">
        <p>Webサービス運営</p>
        <p>Rails受託開発</p>
        <p>HP, LP作成</p>
      </div>
    </li>
  </ul>
  <p class="line" id="contact_form">
    </p>
</div> 
