<% content_for :title do %>
 株式会社Easy　-会社概要-
<% end %>
<h1 class="page_title">会社概要</h1>
<div class="container">
  <ul class="company_list">
    <li class="company_info">
      <p class="company_info_title">会社名</p>
      <p class="company_info_content">株式会社Easy</p>
    </li>
    <li class="company_info">
      <p class="company_info_title">所在地</p>
      <p class="company_info_content">東京都板橋区赤塚新町1-16-2</p>
    </li>
    <li class="company_info">
      <p class="company_info_title">代表取締役</p>
      <p class="company_info_content">圃田洋貴</p>
    </li>
    <li class="company_info">
      <p class="company_info_title">事業内容</p>
      <div class="company_info_content">
        <p>Webサービス運営</p>
        <p>Railsによるシステム開発</p>
        <p>HP・LP制作</p>
      </div>
    </li>
    <li class="company_info">
      <p class="company_info_title">設立日</p>
      <p class="company_info_content">2019年3月1日</p>
    </li>
    <li class="company_info">
      <p class="company_info_title">資本金</p>
      <p class="company_info_content">100万円</p>
    </li>
  </ul>
    </p>
</div> 