
<head>
	<% content_for :title do %>お問い合わせ -株式会社Easy- <% end %>
  <meta name="description" content="株式会社Easyのお問い合わせページ"/> 
</head>

	<div class="container contact">
		<div style="width:100%;height:600px;overflow:auto;-webkit-overflow-scrolling:touch;"><iframe src="https://tayori.com/form/76c986fb1e4f0f7c1b1d7c3527a3c57a20773b02" width="100%" height="100%"></iframe></div>
	</div>
  
