
  <div class="wrapper">
    <main>
      <div class="container">
        <div class="main_contact">
          <div class="contact2">
          <p id="contact_form">お問い合わせ</p>
          </div>
          <div class="main_contact2">サービスに関するお問い合わせ</div>
          <p class="contact">各種サービスに関するお問い合わせは、各サービスのお問い合わせ窓口からお問い合わせください。</p>
          <div class="help_qotaelu">
          <%= link_to 'QOTAELUヘルプページへ' , '#' , class:"help_q"%>
          </div>
        </div>
        
        <div class="main_contact">
          <div class="main_contact2">その他のサービスに関するお問い合わせ</div>
        </div>
        <div class="other_contact">株式会社Easy・当ウェブサイトに関するお問い合わせは下記メールよりお問い合わせください。
        <%= link_to 'プライバシーポリシー' , '#' , class:"privacy" %>
        </div>
        <div class="box_5">
          <div class="box5">
            <p>easy@easy.com</p>
          </div>
        </div>
      </div>
    </main>
  </div>
  