
  <div class="wrapper">
    <main>
      <div class="container">
        <div class="service_all"><p>サービス一覧</p></div>
          <div class="service1">
            <div class="qotaelu_logo">
              <%= image_tag 'h_logo.jpg' , :size => '342x136' %>
            </div>
          </div>
          <div class="qotaelu_img">
          <%= image_tag 'qotaelu.png' , :size => '700x400' %>
          </div>
          <%# <p>報酬型qaサービスQotaelu</p> %>
          <div class="qotaelu_web">
          <a href="#" class="qotaelu_btn"><p>Webサービスへ</p></a>
          </div>
          <p class="line" id="company_form">
          </p>
        </div>
      </div>
    </main>
  </div>
  