
  <div class="wrapper">
    <main>
      <div class="container">
        <div class="service_all">サービス一覧</div>
        <div class="qotaelu_info">
          <%= image_tag 'qotaelu.png' , :size => '300x200' %>
        </div>
        <div class="service1">
          <div class="qotaelu_logo">
            <%= image_tag 'h_logo.jpg'%>
          </div>
          <%# <p>報酬型qaサービスQotaelu</p> %>
          <a href="#" class="qotaelu_btn">Webサービスへ</a>
        </div>
      </div>
    </main>
  </div>
  