

body,
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #fff;
  height: 80px;
  width: 100%;
  min-width: 1160px;
  border-bottom: 1px solid #e5e5e5;
}
.head_contents{
  width: 1170px;
  margin: 0 auto;
  display: flex;
  .logo {
    margin-right: 30px;
  }
  .header-menu {
    font-size: 15px;
    display: flex;
    padding-top : 20px;
    margin-top: 15px;
    width: 1050px;
    justify-content: flex-end;
  }
  .info {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color : white;
    color : #333;
    padding-right: 30px;
    padding-left: 30px;
  }
  .info::after {
    border-bottom: solid 3px #485454;
    bottom: 0;
    content: "";
    display: block;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    width: 0;
    padding-top: 5px;
  }

  .info:hover::after {
    width: 100%;
  }
}

.container{
  width: 1170px;
  margin: 0 auto;
  display: flex;
  .line {
    border-bottom: solid 2px #485454;
    padding-top: 100px;
  }
}

.company_list {
  list-style: none;
  text-align: center;
  margin: 50px auto 100px;

  .company_info {
    padding-top: 40px;
    color: #485454;
    display: flex;
    padding: 2rem 0;

    border-bottom: 1px solid #000;

    &_title {
      width: 300px;
      text-align: left;
      justify-content: flex-start;
      font-weight: 600;
      color: #485454;
    }
    &_content{
      width: 300px;
      text-align: left;
      
    }
  } 
}

.footer {
  background: #2a2b32;
  height : 150px;
  width : 100%;
  min-width: 1180px;  

  .footer-left {
    display: flex;
    padding-top : 20px;
    width: 1170px;
    margin: 0 auto;

    .info {
      display: inline-block;
      position: relative;
      text-decoration: none;
      color : white;
      padding-right: 30px;
      padding-left: 30px;
    }
    .info:hover {
      color: #485454;
    }
  }
  .copyright {
    font-size: 1rem;
    color: #a3a5ad;
    text-align: center;
    display: block;
    margin-top:30px;
  }
}


@media screen and (max-width: 640px) {
  // .container {width: 100%;}
  .header,
  .head_contents,
  .footer,
  .container{
    width: 100%;
    min-width: 100%;
    overflow: hidden;
  }

  .company_info_content,
  .company_info_title{
    width: 210px!important;
  }
}